local.properties
.idea
.gradle
build
base/*/out
base/*/build

# Server related
/server/plugins/ServerCore/survey.json
/server/plugins/*.jar
/server/paper.jar
/server/cache/
/server/config
/server/game_*
/server/libraries
/server/versions/
/server/logs/
/server/plugins/Skinny/
/server/plugins/inventories/
/server/plugins/lobbies/
/server/plugins/lang/
/server/plugins/tag/
/server/plugins/specialItems/
/server/plugins/statics/
/server/plugins/ServerBoss/
/server/plugins/CurrencySystem/
/server/plugins/Citizens/
/server/plugins/tutorials/
/server/plugins/trade/
/server/plugins/OperationFinder/
/server/plugins/BlockLocker/
/server/plugins/PlayerUtil/
/server/world_survive/
/server/world/
/server/world_nether/
/server/world_the_end/
/server/world_trade/
/server/plugins/WorldEdit/
