local.properties
.idea
.gradle
build
base/*/out
base/*/build

# Server related
/server/plugins/ServerCore/survey.json
/server/plugins/*.jar
/server/paper.jar
/server/cache/
/server/config
/server/game_*
/server/libraries
/server/versions/
/server/logs/
/server/world_survive/
/server/world/
/server/plugins/Skinny/
/server/plugins/inventories/
/server/plugins/lobbies/
/server/plugins/lang/
/server/plugins/tag/
/server/plugins/specialItems/
