.grad{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,0),rgba(0,0,0,0.3));
}
.face{
    font-size: 36px;
    width: 48px;
    height: 48px;
}
header, main, footer {
    margin-left: 300px;
}
@media only screen and (max-width: 992px){
    header, main, footer {
        margin-left: 0;
    }
}